<h3 id="testing">Testing the Service</h3>
<p>
    If you are here, you are probably wondering what the button below is for.
    This lets you test to make sure you are connected to everything.
</p>
<p>
    Click the "{{ buttonText }}" button below to see if it's working properly.
    If you see a new message pop up to it's right,
    that means that the backend of this web app is running properly.
    If you instead see <strong>{{ parentDefaultValue() }}</strong>, then that means the connection
    is not working.
</p>
<div class="center-content">
    <button class="button-padding" (click)="onTesterButtonClick()">{{ buttonText }}</button>
    @if (buttonPressed()) {
        <p class="fade-in" animate.leave="fade-out">{{ archiveServerTestData().testData }}</p>
    }
</div>
