<div class="purple-background progress-div">
    <h2>Parsing Progress</h2>
    @if (currentResponse().sessionFinished) {
        <div class="success fade-in" animate.leave="fade-out">
            <p>Session was able to complete successfully.</p>
        </div>
    }
    @if (currentResponse().sessionCanceled) {
        <div class="success fade-in" animate.leave="fade-out">
            <p>Session was able to cancel successfully.</p>
        </div>
    }
    @if (currentResponse().sessionException) {
        <div class="error fade-in" animate.leave="fade-out">
            <p>Session had an exception.</p>
        </div>
    }
    <p><em><strong>Session ID:</strong></em> {{ currentResponse().sessionId }}</p>
    <p><em><strong>Session Nickname:</strong></em> {{ currentResponse().sessionNickname }}</p>
    <p><em><strong>Session Finished:</strong></em> {{ currentResponse().sessionFinished }}</p>
    <p><em><strong>Session Canceled:</strong></em> {{ currentResponse().sessionCanceled }}</p>
    <p><em><strong>Session Exception:</strong></em> {{ currentResponse().sessionException }}</p>
    <p><em><strong>Session Chapters Completed:</strong></em> {{ currentResponse().parseChaptersCompleted }}</p>
    @if (currentResponse().parseChaptersTotal === -1) {
        <p><em><strong>Session Chapters Total:</strong></em> TBD</p>
    }
    @else {
        <p><em><strong>Session Chapters Total:</strong></em> {{ currentResponse().parseChaptersTotal }}</p>
    }
    <p><em><strong>Session Parse Result:</strong></em> {{ currentParseResult() }}</p>
    <p><em><strong>Session Response Message:</strong></em> {{ currentResponseMessage() }}</p>
    <div class="center-content">
        <button class="button-padding" (click)="onProgressButtonClick()">Cancel Parse Session</button>
    </div>
    @if (!sessionNotActive() && !(cancelResponseMessage() === "")) {
        <div class="success fade-in" animate.leave="fade-out">
            <p>Session cancel response sent with following message: {{ cancelResponseMessage() }}</p>
        </div>
    }
</div>
