h2 {
    color: var(--theme-white-color);
}

p {
    padding-inline: var(--half-default-distance);
    word-break: break-all;
}

strong {
    color: var(--theme-white-color);
}

button {
    background-color: var(--theme-white-color);
    color: var(--theme-black-color);
}

button:hover {
    background-color: var(--theme-black-color);
    color: var(--theme-white-color);
}

.progress-div {
    color: var(--theme-white-color);
    padding: var(--default-distance);
    margin: var(--default-distance);
    border-width: calc(var(--half-default-distance) / 2);
    border-style: solid;
    border-color: var(--theme-white-color);
    border-radius: var(--default-border-radius);
}
