h2 {
    color: var(--theme-white-color);
}

h3 {
    margin-block: var(--half-default-distance);
    text-wrap-mode: nowrap;
}

span {
    display: flex;
    align-items: center;
}

#settings-parsing-radio {
    margin: var(--half-default-distance);
}

input[type=radio] {
    border: 0px;
    width: var(--default-distance);
    height: var(--default-distance);
    accent-color: var(--theme-red-color);
}

input[type=text] {
    width: 100%;
    height: var(--default-distance);
    border-radius: var(--default-border-radius);
    padding-inline: var(--half-default-distance);
}

input[type=submit] {
    margin-block: var(--half-default-distance);
    outline-style: solid;
    outline-color: var(--theme-black-color);
    border-radius: var(--default-border-radius);
    font-family: var(--default-font-family);
    font-size: var(--default-distance);
    padding: var(--half-default-distance);    
    font-size: var(--button-distance);  
    background-color: var(--theme-red-color);
    color: var(--theme-white-color);
    transition: var(--transition-seconds);
}

input[type=submit]:hover {
    background-color: var(--theme-white-color);
    color: var(--theme-red-color);
}


label {
    margin-right: var(--half-default-distance);
    font-size: var(--default-distance);
}

#settings-div {
    margin-block: var(--default-distance);
    padding: var(--half-default-distance);
}
