#result-search {
    display: flex;
    align-items: center;
    margin: var(--default-distance);

    label {
        font-weight: bold;
        text-wrap-mode: nowrap;
    }

    input[type=text] {
        width: 100%;
        height: var(--default-distance);
        border-radius: var(--default-border-radius);
        padding-inline: var(--half-default-distance);
        margin-inline: var(--half-default-distance);
    }
}

h3, h4 {
    color: var(--theme-red-color);
}

button {
    background-color: var(--theme-white-color);
    color: var(--theme-red-color);
    align-items: center;
}

button:hover {
    background-color: var(--theme-black-color);
    color: var(--theme-white-color);
}


.red-background {
    h3, h4 {
        color: var(--theme-white-color);
    }
}

.results-div {
    border-color: var(--theme-red-color);
    border-style: solid;
    border-width: calc(var(--half-default-distance) / 2);
    padding-bottom: var(--half-default-distance);
}

.results-menu-tab {
    border-color: var(--theme-black-color);
    border-style: solid;
    border-width: calc(var(--half-default-distance) / 4);
    justify-items: center;
    width: 100%;
}

#result-div-menu {
    margin-top: var(--default-distance);
    display: flex;
    justify-items: center;

    div {
        transition: var(--transition-seconds);
        h3 {
            margin-inline: var(--half-default-distance);
        }
    }

    div:hover {
        background-color: var(--theme-red-color);
        h3 {
            color: var(--theme-white-color);
        }
    }
}

#result-div-content {
    margin-inline: var(--default-distance);
}

@media (max-width: 800px) {
    #result-search {
        flex-direction: column;
        margin-inline: var(--button-distance);

        label {
            text-wrap-mode: wrap;
        }

        input {
            margin-top: var(--half-default-distance);
        }
    }
}
