img {
    padding: var(--default-distance);
    margin-inline: var(--half-default-distance);
    border-radius: var(--default-border-radius);

    transition: var(--transition-seconds);
    background-color: var(--theme-pink-color);
}

img:hover {
    background-color: var(--theme-green-color);
}
