@import "tailwindcss";

/* Defaults */
:root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;

    --button-padding: 0.5rem;
    --button-border-radius: 25px;

    --header-padding: 1rem;

    --default-duration: 0.3s;

    @media (min-width: 600px) {
        --h1-font-size: 4rem;
        --h2-font-size: 2rem;
    }
}

/* Elements */
button {
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    font-size: 1rem;
} 

h1, h2, span {
    justify-self: center;
    text-align: center; 
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

span {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* IDs */
#header {
    padding: var(--header-padding); 

    a {
        outline-style: solid;
        padding: var(--button-padding);
        flex-grow: 1;
        transition-duration: var(--default-duration);
    }

    a:hover {
        background-color: white;
    }
}

#theme-switcher {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    opacity: 0.2;
    transition-duration: var(--default-duration); 
}

#theme-switcher:hover {
    opacity: 1;
}
