@import "tailwindcss";

/* Color schemes and defaults */
html {
    content: "light";
}

:root {
    --background: #F0E7D8;
    --foreground: #0A0A0A;

    --h1-font-size: 36px;

    --button-padding: 8px;
    --button-border-radius: 25px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0A0A0A;
        --foreground: #F0E7D8;
        content: "dark";
    }
}

/* Elements */
body {
    background: var(--background);
    color: var(--foreground);
}

h1 {
    font-size: var(--h1-font-size);
    justify-self: center;
}

button {
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
}
