nav {
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
    gap: var(--default-distance);
}

button {
    border-radius: 0px;
}

a {
    background-color: var(--theme-red-color);
    color: var(--theme-white-color);
    padding: var(--half-default-distance);    
    text-decoration: none;

}

button:hover {
    background-color: var(--theme-white-color);
    color: var(--theme-red-color);
}
