p, ol {
    word-wrap: break-word;
    margin-inline: var(--default-distance);
}

nav {
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-wrap: wrap;
    gap: var(--default-distance);
    margin-inline: var(--button-distance);
}

a {
    background-color: var(--theme-red-color);
    color: var(--theme-white-color);
    padding: var(--half-default-distance);
    border-radius: var(--default-border-radius);    
    text-decoration: none;
    transition: var(--transition-seconds);
}

a:hover {
    background-color: var(--theme-white-color);
    color: var(--theme-red-color);
}

button:hover {
    background-color: var(--theme-white-color);
    color: var(--theme-red-color);
}

@media (max-width: 800px) {
    .center-content {
        margin-inline: var(--button-distance);
    }
}
