<h2>Preface</h2>
<p>
    Welcome to my passion project for parsing stories on Archive of our Own!
    I've always been wanting to do something with my own stories for a while,
    but I had no creativity or motivation to do so. But now I do!
</p>
<p>
    Firstly, please don't use this thing for Silicon Valley tech bro crap.
    If you do you are liable for whatever hell gets rained down upon you.
    This is first and foremost a way for me to look at my own writings
    without having to manually go through and copy things.
    That's why it's also admittedly limited in what it can do,
    as I've thought of coding ways to look at entire series and collections
    and realized that if I make it too easy,
    there are going to be annoying people out there that will just abuse it.
</p>
<p>
    As someone who has done research in machine learning,
    there is a reason corporations are desperate to sell you on
    what is essentially just advance Amazon Alexas and Siris and Cortanas.
    Convenience is a heck of a drug and
    it's easier to make money off of you eating off their pig trough
    than it is for them to sell you tools that can be used to advance
    YOUR own imagination.
</p>
<p>
    This is a tool I made to celebrate the years worth of writings I have amassed online,
    and I hope that if you find this, you would be excited to see what it looks like for you too.
    That excitement is what will carry you through having to set this project up to run in the first place.
</p>
<h2>Instructions</h2>
<p>
    After this introduction section is the <strong><u>Set Parsing Details</u></strong> section.
    This section will have various configuration options
    and a submission button to send the results to the backend service.
</p>
<p>
    The <strong><u>first option</u></strong> is a Parsing Method,
    where you can choose between parsing a single chapter or a whole story.
    It can only be one or the other, and it is set to "Chapter" by default.
</p>
<p>
    The <strong><u>second option</u></strong> is the link you need to provide.
    Only AO3 links are valid for this application,
    and depending on what parsing option you choose before some AO3 links are not valid.
    As of (enter in OTW Archive version), the following decisions are applied:
</p>
<ul>
    <li>
        Links that don't start like "https://archiveofourown.org/works/"
        or "https://archiveofourown.org/works/XXXXXXXX/chapters/"
        where "XXXXXXXX" represents a story id are automatically rejected.
        This is ONLY a story parser.
    </li>
    <li>
        "https://archiveofourown.org/works/XXXXXXXX" where "XXXXXXXX" represents a story id
        is a valid link if you want to parse either a chapter or story.
    </li>
    <li>
        "https://archiveofourown.org/works/XXXXXXXX/chapters/YYYYYYYYY where
        "XXXXXXXX" represents a story id and "YYYYYYYYY" represents a chapter id
        is <strong>ONLY</strong> a valid link for parsing a chapter. 
        If you choose story and then pass this link,
        you <strong>WILL</strong> get an error notification.
    </li>
</ul>
<p>
    The <strong><u>third option</u></strong> is a nickname you want to give the session.
    You do not have to fill this in, but if you do, you can only use alphanumeric characters
    (basically a to z, A to Z, and 0 to 9), underscores (_) and dashes (-). 
    If there is not supplied nickname, the backend will use the session ID as the nickname.
</p>
<p>
    The rest of the options are advanced settings that control how detailed you want the results to be.
    <strong><u>To make any of these options unlimited, set the corresponding value to -1.</u></strong>
</p>
<ul>
    <li>
        <strong>Max Comment Thread Depth</strong> controls how deep you want to search into comment threads. 
        By default, this option is set to 10 replies. As an example, if a comment has 15 reply threads,
        but one of the reply threads has a back-and-forth that goes on for 20 replies, then that 20-reply
        conversation is cut off for brevity.
    </li>
    <li>
        <strong>Max Comment Page Limit</strong> controls 
        the maximum amount of pages of comments you want to search per chapter. 
        If a chapter has less pages than is specified here, then all the chapter's comments will be parsed.
        By default, this option is set to 3 pages.
    </li>
    <li>
        <strong>Max Kudos Page Limit</strong> controls 
        the maximum amount of pages of kudos you want to search per story. 
        If a story has less pages than is specified here, then all the story's kudos will be parsed.
        By default, this option is set to 3 pages.
    </li>
    <li>
        <strong>Max Bookmarks Page Limit</strong> controls 
        the maximum amount of pages of bookmarks you want to search per story. 
        If a story has less pages than is specified here, then all the story's bookmarks will be parsed.
        By default, this option is set to 3 pages.
    </li>
</ul>
<p>
    The backend service will then start the parsing process,
    and a real time chapter-by-chapter progress text will display until either the parsing is complete,
    or something errors out and it shows you the problem found,
    or you cancel the parsing session.
    The <strong><u>Set Parsing Details</u></strong> section will be unavailable to edit
    while the parsing session is going on and will be available when the parsing session ends.
</p>
<p>
    Once that's done, you should see the parsed content in the <strong><u>Completed Parsing Sessions</u></strong> section.
    You will be able to navigate through all the data and
    choose which data you want to save to JSON (maybe XML and YAML as well).
</p>
<app-tester [parentDefaultValue]="defaultValue()" />
<app-settings (sessionFinished)="addCompletedSession($event)" />
