<!--TOC-->
<h2>Table of Contents</h2>
<nav>
    <button><a href="#preface">Preface</a></button>
    <button><a href="#eula">EULA</a></button>
    <button><a href="#instructions">Instructions</a></button>
    <button><a href="#testing">Testing the Service</a></button>
    <button><a href="#settings-div">Set Parsing Details</a></button>
    <button><a href="#results-div">Completed Parses</a></button>
</nav>

<!--Preface-->
<h2 id="preface">Preface</h2>
<p>
    Welcome to my passion project for parsing stories on Archive of our Own!
    I've always been wanting to do a coding project with my own stories, 
    and I also wanted to learn Angular and front end development in general,
    but for the longest time I didn't have the motivation to do either.
    Then one day, like all fanfiction writers of any kind, I had a dangerous
    concoction of inspiration that either ends up with someone changing their
    lives or someone ending up in jail. Or just being really cringe, 
    but it's that pure kind of cringe. Firstly, lets get the legal stuff out of the way.
</p>

<!--EULA-->
<h2 id="eula">End User License Agreement</h2>
<h3>Last updated: December 24th, 2025</h3>
<p>
    The Asasefu project, and by extension this Archive Ingestor frontend,
    is licensed to You (End-User) by Laolu Ade under the 
    <strong>GNU General Public License Version 3</strong>.
    By using this open-source software, you are beholden to the 
    <strong>rights</strong> AND <strong>responsibilities</strong> of said license.
</p>
<p>
    In addition, by using this open-source software, you agree to not utilize this service for
    commercial purposes or activities that directly benefit commerical activities, including but
    not limited to: 
    training AI models to generate monetized fanfiction recommendations for subscription services, 
    selling anonymized fanfiction datasets to third-party analytics firms for market research, 
    developing proprietary machine learning or statistical analysis tools 
    that extract revenue from fanfiction themes for advertising partnerships, 
    or using fanfiction corpora to build predictive analytics for entertainment industry decision-making.
</p>
<p>
    Lastly, if you are found by an author - 
    whether they publish through traditional channels or 
    online platforms including but not limited to 
    Archive of our Own, Wattpad, Quotev, or Fanfiction.net -
    to have utilized their work for your own gain or someone else's downfall,
    and you have used this tool to do so, you are beholden to revealing that 
    you have used this tool, and by breaking the agreement set in using this tool, 
    you are liable to being sued by said author. As a special note, this includes if 
    you, for some reason, decide to train an storywriting AI using this service to 
    facilitate your data pipeline.
</p>
<p>
    At the end of the day, this is a tool I made to 
    celebrate the years worth of writings I have amassed online in the best way I know how, by
    writing a bunch of code to make the pixels on my screen to my work as a bunch of data science junk.
    I can say that the purpose of this tool is <strong>to make it more convenient to download your story 
    in a format that is easily transferrable and great to work with in the absense of an official API by
    OTW</strong>, but really I just did it because it makes me happy. And I hope you are able to enter
    your stories into here and get that same level of joy.
</p>
<p>Well, assuming anyone actually finds this thing on Github, or I make it available on the public internet.</p>

<!--Instructions-->
<h2 id="instructions">Instructions</h2>
<h3>Website Layout</h3>
<p>
    This section is the <strong>Instructions</strong> section. 
    This section will tell you how to use the website to download things and navigate the page.
</p>
<p>
    After this section, you will see the <strong>Set Parsing Details</strong> section.
    This section will have various configuration options
    and a submission button to send the results to the backend service.
</p>
<p>
    When you start a parse, a <strong>Parsing Progress</strong> 
    will temporary appear inside the <strong>Set Parsing Details</strong> section
    below the configurable settings. This will show real-time parsing information
    so you don't get bored if you are waiting on a particularly long or popular story.
</p>
<p>
    Finally, after the <strong>Set Parsing Details</strong> section 
    is the <strong>Completed Parses</strong> section.
    This section will be where you can view your parsed information and 
    filter the results based on the ID or the nickname you give the parsing session.
</p>

<h3>Buttons at the Top</h3>
<p>
    Firstly, there are three buttons at the top of the page. These just lead my
    GitHub account and the pages where the overall project and this specific part of it is kept.
</p>

<h3>Working with the Parsing Settings</h3>
<p>
    There are several settings that can be modified to 
    customize the look and scope of your parsing. 
    However, only two of them are required to actually parse a chapter or story.
</p>
<ol>
    <li>
        The first required setting is the <strong>Parsing Method</strong>. 
        They will be the first two buttons in the <strong>Set Parsing Details</strong> section
        and be labeled <strong>Chapter</strong> and <strong>Story</strong>. 
        You can only choose one, but you MUST choose one.
    </li>
    <li>
        The second required setting is the <strong>Chapter or Story Link</strong>.
        This will be the first text box in the section and 
        it is here you would enter in your story and chapter link, but it must follow certain rules.
    </li>
    <ol>
        <li>
            Links that don't start like <strong>"https://archiveofourown.org/works/"</strong>
            or <strong>"https://archiveofourown.org/works/XXXXXXXX/chapters/"</strong>
            where "XXXXXXXX" represents a story id are automatically rejected.
            This is ONLY a story parser to stop people from just running wild on the site.
        </li>
        <li>
            <strong>"https://archiveofourown.org/works/XXXXXXXX"</strong> where "XXXXXXXX" represents a story id
            is a valid link if you want to parse either a chapter or story.
        </li>
        <li>
            <strong>"https://archiveofourown.org/works/XXXXXXXX/chapters/YYYYYYYYY</strong> where
            "XXXXXXXX" represents a story id and "YYYYYYYYY" represents a chapter id
            is <strong>ONLY</strong> a valid link for parsing a chapter. 
            If you choose story and then pass this link,
            you will get an error notification.
        </li>
        <li>
            <strong>You can pass any chapter from a story</strong> into the chapter parser. 
            You are not limited just getting chapter one from your 100-chapter story.
        </li>
    </ol>
    <li>
        The rest of the settings are optional. 
        The third setting is the <strong>Nickname</strong> setting.
        You can give your parsing session a nickname so 
        it's easier to find in the <strong>Completed Parses</strong> section.
    </li>
    <li>
        The last group of settings is kept under 
        the <strong>Configure Advanced Settings</strong> section. 
        These settings control the level of detail you want your parse to have.
        By default, the level of detail is capped so that 
        you don't die before your parse is finished. 
        That being said, if you really want to get everything,
        set the corresponding value for each advanced setting to -1.
    </li>
    <ol>
        <li>
            <strong>Max Comment Thread Depth</strong> controls how deep you want to search into comment threads. 
            By default, this option is set to 10 replies. As an example, if a comment has 15 reply threads,
            but one of the reply threads has a back-and-forth that goes on for 20 replies, then that 20-reply
            conversation is cut off for brevity.
        </li>
        <li>
            <strong>Max Comment Page Limit</strong> controls 
            the maximum amount of pages of comments you want to search per chapter. 
            If a chapter has less pages than is specified here, then all the chapter's comments will be parsed.
            By default, this option is set to 3 pages.
        </li>
        <li>
            <strong>Max Kudos Page Limit</strong> controls 
            the maximum amount of pages of kudos you want to search per story. 
            If a story has less pages than is specified here, then all the story's kudos will be parsed.
            By default, this option is set to 3 pages.
        </li>
        <li>
            <strong>Max Bookmarks Page Limit</strong> controls 
            the maximum amount of pages of bookmarks you want to search per story. 
            If a story has less pages than is specified here, then all the story's bookmarks will be parsed.
            By default, this option is set to 3 pages.
        </li>
    </ol>
</ol>

<h3>Submitting and Waiting for your Story/Chapter</h3>
<p>
    Once you hit the <strong>Start Parsing</strong> button, 
    the web application will then start the parsing process.
    A real time chapter-by-chapter progress text will display until 
    <strong>1)</strong> either the parsing is complete, 
    <strong>2)</strong> or the app experience an error and has to end early,
    or <strong>3)</strong> you cancel the in-progress parsing early.
</p>
<p>
    Once that's done, you should see the parsed content in the <strong>Completed Parses</strong> section.
    You will be able to navigate through all the data and
    choose which data you want to save to JSON, XML, and YAML formats.
</p>

<h3>Navigating the Completed Parses Section</h3>
<p>
    Once a parse its completed, you should see a green or yellow notification letting you know that.
    It is then you can go to the <strong>Completed Parses</strong> section to view the results.
    This section is represented with a hollow red-outlined rectangle.
</p>
<p>
    At very top of this box is a search bar where you can use the 
    session ID or nickname of your parsing session to filter 
    which stories or chapters you want to look at. 
    Below that, you would see a <strong>Refresh View</strong> button
    that you can use to refresh the result contents in case 
    what you were expecting hadn't shown up yet.
</p>
<p>
    In the sections themselves, you press one of the tabs 
    to open the dropdown of a specific result type. 
    To expand or close more drop downs, or to download things, you use the buttons
    that will be located on drop downs with a complex array of content.
</p>

<div class="center-content">
    <h4> This button is used to open or close a dropdown ▶</h4>
    <img src="./dropdown-icon.png" height="50px" style="padding-left: 10px;">
</div>
<div class="center-content">
    <h4>This button is used to download all or a specific part of your story or chapter as JSON ▶</h4>
    <img src="./json-icon.png" height="50px" style="padding-left: 10px;">
</div>
<div class="center-content">
    <h4>This button is used to download all or a specific part of your story or chapter as YAML ▶</h4>
    <img src="./yaml-icon.png" height="50px" style="padding-left: 10px;">
</div>
<div class="center-content">
    <h4>This button is used to download all or a specific part of your story or chapter as XML ▶</h4>
    <img src="./xml-icon.png" height="50px" style="padding-left: 10px;">
</div>

<app-tester 
    [parentDefaultValue]="defaultValue()" 
    [parentDefaultTimeoutMilli]="defaultTimeoutMilli"
/>
<app-settings
    [parentDefaultTimeoutMilli]="defaultTimeoutMilli"
    [parentDefaultServiceWaitMilli]="defaultServiceWaitMilli" 
    (sessionComplete)="addCompletedSession($event)"
/>
<app-results
    [parentCompletedSessionIds]="completedSessionIds()" 
    [parentLatestCompletedSessionId]="latestCompletedSessionId()" 
    [parentDefaultServiceWaitMilli]="defaultServiceWaitMilli"
/>
