<h2>Preface</h2>
<p>
    Welcome to my passion project for parsing stories on Archive of our Own!
    I’ve always been wanting to do something with my own stories for a while,
    but I had no creativity or motivation to do so. But now I do!
</p>
<p>
    Firstly, please don’t use this thing for Silicon Valley tech bro crap.
    If you do you are liable for whatever hell gets rained down upon you.
    This is first and foremost a way for me to look at my own writings
    without having to manually go through and copy things.
    That’s why it’s also admittedly limited in what it can do,
    as I’ve thought of coding ways to look at entire series and collections
    and realized that if I make it too easy,
    there are going to be annoying people out there that will just abuse it.
</p>
<p>
    As someone who has done research in machine learning,
    there is a reason corporations are desperate to sell you on
    what is essentially just advance Amazon Alexas and Siris and Cortanas.
    Convenience is a heck of a drug and
    it’s easier to make money off of you eating off their pig trough
    than it is for them to sell you tools that can be used to advance
    YOUR own imagination.
</p>
<p>
    This is a tool I made to celebrate the years worth of writings I have amassed online,
    and I hope that if you find this, you would be excited to see what it looks like for you too.
    That excitement is what will carry you through having to set this project up to run in the first place.
</p>
<h2>Instructions</h2>
<p>
    After this introduction section is the <strong><u>“Set Parsing Details”</u></strong> section.
    This section will have three different buttons to select
    and a submission button to send the results of to the backend service.
</p>
<p>
    The <strong><u>first option</u></strong> is a Parsing Method,
    where you can choose between parsing a single archiveChapter or a whole story.
    It can only be one or the other, and it is set to “Chapter” by default.
</p>
<p>
    The <strong><u>second option</u></strong> is the link you need to provide.
    Only AO3 links are valid for this application,
    and depending on what parsing option you choose before some AO3 links are not valid.
    As of (enter in OTW Archive version), the following decisions are applied:
</p>
<ul>
    <li>
        Links that don’t start like “https://archiveofourown.org/works”
        or “https://archiveofourown.org/works/XXXXXXXX/archiveChapters”
        where “XXXXXXXX” represents a story id are automatically rejected.
        This is ONLY a story parser.
    </li>
    <li>
        “https://archiveofourown.org/works/XXXXXXXX” where “XXXXXXXX” represents a story id
        is a valid link if you want to parse either a archiveChapter or story.
    </li>
    <li>
        “https://archiveofourown.org/works/XXXXXXXX/archiveChapters/YYYYYYYYY where
        “XXXXXXXX” represents a story id and “YYYYYYYYY” represents a archiveChapter id
        is only a valid link for parsing a archiveChapter. If you choose story and then pass this link,
        you WILL get an error notification.
    </li>
</ul>
<p>
    The <strong><u>third option</u></strong> is a nickname you want to give the session.
    You do not have to fill this in. If there is not supplied nickname,
    the backend will use the session ID as the nickname.
</p>
<p>
    The backend service will then start the parsing process,
    and a real time archiveChapter-by-archiveChapter progress text will display until either the parsing is complete,
    or something errors out and it shows you the problem found,
    or you cancel the parsing session.
    The “Set Parsing Details” section will be unavailable to edit
    while the parsing session is going on and will be available when the parsing session ends.
</p>
<p>
    Once that’s done, you should see the parsed content in the “Completed Parsing Sessions” section.
    You will be able to navigate through all the data and
    choose which data you want to save to JSON (maybe XML and YAML as well).
</p>
<p>
    Now that everything is covered, you should first test the API
    to make sure the front end and back end is connected properly.
    Click the “Test API” button below to see if it’s working properly.
    If you see a new message pop up,
    that means that the backend of this web app is running properly.
</p>
<app-testapi />
