<header>
    <h1>Welcome To Archive Ingestor!</h1>
    <nav>
        <button>
            <a href="https://github.com/laoluadewoye" target="_blank">Github Page</a>
        </button>
        <button>
            <a href="https://github.com/laoluadewoye/Asasefu-Pipeline" target="_blank">Project Repository</a>
        </button>
        <button>
            <a href="https://github.com/laoluadewoye/Asasefu-Pipeline/tree/main/story-ingestor" target="_blank">Story Ingestor Repository</a>
        </button>
    </nav>
</header>
