header {
    margin-bottom: var(--default-distance);
}

nav {
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--default-distance);
}

a {
    padding: var(--half-default-distance);
    margin-inline: var(--half-default-distance);
    outline-style: solid;
    outline-color: var(--theme-black-color);
    border-radius: var(--default-border-radius);
    color: var(--theme-white-color);
    transition: 0.3s;
}

a:hover {
    background-color: var(--theme-white-color);
    color: var(--theme-red-color);
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }
}
