header {
    margin-bottom: var(--default-distance);
}

nav {
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
    gap: var(--default-distance);
}

a {
    padding: var(--half-default-distance);    
    text-decoration: none;
    font-family: var(--default-font-family);
    color: var(--theme-white-color);
}

a:hover {
    color: var(--theme-red-color);
}

button {
    background-color: var(--theme-red-color);
}

button:hover {
    background-color: var(--theme-white-color);
}

@media (max-width: 700px) {
  nav {
    flex-direction: column;
  }
}
